.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
sneakers_catalog/
twitter-test/
*.parquet
venv
*.log
target/
dbt_packages/
logs/
